html {
    font-family: "Lucida Grande", sans-serif;
}

body {
    max-width: 800px;
    margin: 0 auto;
}

em {
    font-style: normal;
    font-weight: bold;
}

pre {
    overflow-x: scroll;
}

code {
    font-family: Monaco, monospace;
    margin: 2.2rem 0.2rem;
}

h1 {
    margin: 2.2rem 0;
}

p, pre code {
    margin: 2.2rem 0;
}

p {
    line-height: 1.6;
    font-size: 1.07rem;
}

li {
    font-size: 1.07rem;
    margin: 1rem 0;
}

ol.square {
    list-style: none;
    padding-left: 0;
}

ol.square li {
    counter-increment: custom;
}

ol.square li:before {
    content: "[" counter(custom) "] ";
}

ol.square li:first-child {
    counter-reset: custom;
}

@media(max-width: 960px) {
    body {
	max-width: 90%;
    }
}
